 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 768px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 833px;
  margin: 60px auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 220px;
}

.u-section-1 .u-container-layout-1 {
  padding: 7px 30px;
}

.u-section-1 .u-text-1 {
  text-transform: none;
  font-weight: 400;
  font-family: "Playfair Display", serif;
  font-size: 2.25rem;
  margin: 0 auto 0 62px;
}

.u-section-1 .u-icon-1 {
  height: 38px;
  width: 38px;
  background-image: none;
  margin: -38px auto 0 15px;
}

.u-section-1 .u-image-1 {
  min-height: 438px;
  background-image: url("images/Pixelart11.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  min-height: 438px;
  background-image: url("images/PORTADA_CARTA_COMIDA_EvelynZarithSnchez_3CORTE1.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 220px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 220px;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-image-3 {
  min-height: 438px;
  background-image: url("images/Maneranegra1.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-layout-cell-1 {
    z-index: 0;
  }

  .u-section-1 .u-image-1 {
    z-index: 1;
  }

  .u-section-1 .u-image-2 {
    z-index: 2;
  }

  .u-section-1 .u-layout-cell-5 {
    z-index: 6;
  }

  .u-section-1 .u-image-3 {
    z-index: 5;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2669px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 285px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 285px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2670px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 428px;
    order: 1;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    min-height: 577px;
    order: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    min-height: 581px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 428px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 240px;
    order: 1;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-3 {
    min-height: 527px;
    order: 0;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 269px;
  }

  .u-section-1 .u-image-1 {
    min-height: 536px;
  }

  .u-section-1 .u-image-2 {
    min-height: 536px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 269px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-1 .u-image-3 {
    min-height: 536px;
  }
} .u-section-2 {
  min-height: 508px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-image-1 {
  min-height: 508px;
  background-image: url("images/Diseofinal2.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-video-1 {
  min-height: 508px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 510px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    min-height: 510px;
  }

  .u-section-2 .u-video-1 {
    min-height: 510px;
    background-position: 50% 50%;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 383px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    min-height: 578px;
    background-position: 100% 50%;
  }

  .u-section-2 .u-video-1 {
    min-height: 391px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 1280px;
  }

  .u-section-2 .u-image-1 {
    min-height: 650px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-video-1 {
    min-height: 880px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 757px;
  }

  .u-section-2 .u-image-1 {
    min-height: 409px;
  }

  .u-section-2 .u-video-1 {
    min-height: 554px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 510px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 50px auto 0 0;
}

.u-section-3 .u-image-1 {
  min-height: 460px;
  background-image: url("images/Calendario1.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 460px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 50px;
}

.u-section-3 .u-icon-1 {
  height: 87px;
  width: 87px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-1 {
  font-size: 1rem;
  font-weight: 600;
  font-style: normal;
  margin: 20px 0 0 35px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 284px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    min-height: 379px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 379px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 29px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 129px;
  }

  .u-section-3 .u-image-1 {
    min-height: 290px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 22px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-image-1 {
    min-height: 567px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 17px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-image-1 {
    min-height: 357px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 10px;
  }
}